<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>243273540411-vdgkir3eh1q0rolrkhobq14mctt69fcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243273540411-vdgkir3eh1q0rolrkhobq14mctt69fcc</string>
	<key>API_KEY</key>
	<string>AIzaSyCUxr97B2IztrNDd0D8p4Xod50cwweOBFE</string>
	<key>GCM_SENDER_ID</key>
	<string>243273540411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HKBU.CS.13215191.TRADING</string>
	<key>PROJECT_ID</key>
	<string>green-trading</string>
	<key>STORAGE_BUCKET</key>
	<string>green-trading.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:243273540411:ios:2a295636ec329782</string>
	<key>DATABASE_URL</key>
	<string>https://green-trading.firebaseio.com</string>
</dict>
</plist>